<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <p><%= link_to(restaurant.name, restaurant_path(restaurant.id)) %></p>
<% end %>

<p><%= link_to("Create Restaurant", new_restaurant_path) %></p>
